* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  display: none;
}

body {
  margin-right: 2vw;
  margin-left: 2vw;
}

@media screen and (min-width: 1025px) {
  body {
    margin-right: 4vw;
    margin-left: 4vw;
  }
}
h2 {
  font-family: "Averia Serif Libre", cursive;
  font-weight: bold;
  font-style: bold;
  font-size: 4.5vw;
  color: rgb(148, 157, 69);
  text-align: center;
  max-width: 100%;
  max-height: 30px;
  padding: 1rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.7vw;
  }
}

h3 {
  font-family: "Averia Serif Libre", cursive;
  color: black;
  text-align: center;
  padding: 0.1rem;
}

header nav {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem;
  margin: 1.25rem 0.8rem;
}

.logo-btn {
  margin: 0.3rem;
}

.logo {
  width: 15vw;
  height: auto;
  max-width: 170px;
}

header nav ul {
  float: left;
  margin-right: 20px;
}

header nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0.5rem;
}

header nav ul li a {
  font-family: "Averia Serif Libre", cursive;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  padding: 0.1rem;
  margin: 0;
}

.bag-shopping {
  size: 3vw;
  margin-right: 1.5rem;
}

.check-btn {
  font-size: 2.5vw;
  float: left;
  line-height: 50px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 767px) {
  header nav {
    width: 100%;
    height: fit-content;
    margin: 1rem 0.5rem;
    padding: 0.1rem;
  }
  .check-btn {
    display: block;
  }
  .logo {
    width: 30vw;
    height: auto;
    max-width: 120px;
  }
  header nav ul {
    position: fixed;
    width: 32vw;
    height: 27vw;
    background: white;
    top: 80px;
    right: -100%;
    text-align: center;
  }
  header nav ul li {
    display: block;
    margin: 0.01vw 0;
  }
  header nav ul li a {
    font-size: 3vw;
    line-height: 5vw;
  }
  li a:hover,
  li a.active {
    background: none;
    color: rgb(148, 157, 69);
  }
  #check:checked ~ ul {
    left: 0;
  }
  .logo-btn,
  .check-btn {
    order: 2;
    margin: 0 5px;
  }
  .bag-shopping {
    size: 1rem;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .div-logo {
    order: 1;
  }
  .div-nav-header {
    order: 2;
  }
  .div-bagshopping {
    order: 3;
  }
}
header li a:hover {
  color: rgb(148, 157, 69);
  font-size: 1.1rem;
  transition-duration: 300ms;
  transition-delay: 100ms;
}

.footer {
  background-image: url(../../img/inicio/footer/bg-footer-compr.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding-top: 40px;
}
.footer__contacto {
  padding: 0.5rem;
  max-width: 20rem;
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  color: white;
  padding: 0.3rem;
}

.legales {
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.8vw;
  color: white;
  margin: 0 auto;
}

.instagram {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  padding: 0.3rem;
  max-height: 35px;
  margin-bottom: 15px;
}
.instagram__usuario {
  font-family: "Averia Serif Libre", cursive;
  font-size: 4vw;
  color: white;
  margin: 1px;
  padding: 0px;
  display: inline-block;
}
.instagram__logo {
  width: 5vw;
  margin: 0.05rem;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.1rem;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
}
.newsletter__label {
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  margin-bottom: 0.05rem;
  color: white;
}
.newsletter__input {
  border-color: white;
  border-radius: 1rem;
  border-width: 0.01rem;
}

.footer-nav {
  text-align: center;
  list-style: none;
  padding: 0.5rem;
  margin: 0px;
  line-height: 4.2vw;
}
.footer-nav__enlace {
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  max-height: 15px;
  color: white;
}

footer nav a:hover {
  color: white;
  font-size: 3.2vw;
  transition-duration: 600ms;
  transition-delay: 150ms;
}

.logos-pago {
  padding: 0.125rem;
}
.logos-pago__paypal {
  width: 8vw;
  margin: 0.125rem;
}
.logos-pago__mercadopago {
  width: 8vw;
  margin: 0.125rem;
}
.logos-pago__rapipago {
  width: 9vw;
  margin: 0.125rem;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .footer {
    padding: 1rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    max-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 25% 45% 15%;
    grid-template-areas: "inst-link inst-link inst-link" "news news news" "nav pago contacto" "legales legales legales";
  }
  .footer__contacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
  .legales {
    grid-area: legales;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    width: 100%;
    font-size: 0.6rem;
  }
  .instagram {
    grid-area: inst-link;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .instagram__usuario {
    font-size: 1.4rem;
    margin: 0.2vw;
  }
  .instagram__logo {
    width: 3vw;
    margin: 0.1vw;
  }
  .newsletter {
    grid-area: news;
  }
  .newsletter__label {
    font-size: 1rem;
    margin: 0.5rem;
  }
  .footer-nav {
    line-height: 1.5rem;
    margin: 0.1rem 0.1rem;
    grid-area: nav;
  }
  .footer-nav__enlace {
    font-size: 1rem;
  }
  footer nav a:hover {
    font-size: 1.2rem;
  }
  .logos-pago {
    padding: 1rem;
    grid-area: pago;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logos-pago__paypal {
    width: 5vw;
    margin: 0.2rem;
  }
  .logos-pago__mercadopago {
    width: 5vw;
    margin: 0.2rem;
  }
  .logos-pago__rapipago {
    width: 6vw;
    margin: 0.2rem;
  }
}
.btn-aceptar-footer {
  border: 0.01rem solid white;
  color: white;
  padding: 0.2rem 0.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  border-radius: 1rem;
  margin: 0.3rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .btn-aceptar-footer {
    padding: 0.4rem;
    font-size: 0.7rem;
    width: 7vw;
    max-height: 30px;
  }
}

.btn-forms {
  border: 0.1rem solid rgb(148, 157, 69);
  background-color: rgba(148, 157, 69, 0.6);
  color: white;
  padding: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  border-radius: 1rem;
  margin: 0.3rem;
  height: 5vw;
  width: 15vw;
}
@media screen and (min-width: 768px) {
  .btn-forms {
    padding: 0.1rem;
    font-size: 1.7vw;
    height: 3.5vw;
    width: 10vw;
  }
}
@media screen and (min-width: 1025px) {
  .btn-forms {
    font-size: 1.3vw;
    height: 3vw;
    width: 8vw;
  }
}

.stock {
  margin: 30px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.stock__item {
  width: 40vw;
  margin: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.stock__img {
  width: 100%;
}
.stock__nombre {
  font-family: "Averia Serif Libre", cursive;
  font-size: 2.5vw;
  margin: 0.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .stock {
    margin: 30px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .stock__item {
    width: 27vw;
    margin: 2vw;
    background-color: rgba(148, 157, 69, 0.589);
  }
  .stock__img {
    max-width: 100%;
  }
  .stock__nombre {
    font-size: 1.5vw;
    background-color: white;
  }
  .stock__btn:hover {
    opacity: 20%;
  }
}
.bloque-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloque-texto__info {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: black;
  line-height: 20px;
  text-align: center;
  max-width: 70vw;
  padding: 1rem;
}

.bg-form {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 25%;
  opacity: 0.3;
  width: 35vw;
  margin: 40px;
}

.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  padding-bottom: 3rem;
}
.formulario__label {
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  margin-bottom: 0.1rem;
  padding: 0.3rem;
}
.formulario__input {
  border-color: rgb(148, 157, 69);
  border-radius: 1rem;
  height: 4vw;
  width: 100%;
  border-width: 0.1rem;
  margin: 0.4rem;
}

.attach-files {
  border-color: rgb(148, 157, 69);
  border: 1px;
  color: grey;
  font-size: 2.3vw;
  max-width: 50vw;
  padding: 1rem;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .formulario {
    margin: 3rem;
  }
  .formulario__label {
    font-size: 2.5vw;
    padding: 0.5rem;
  }
  .formulario__input {
    height: 3vw;
  }
  .attach-files {
    width: 60vw;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .formulario {
    margin: 1rem 10rem;
  }
  .formulario__label {
    font-size: 1.8vw;
  }
  .formulario__input {
    height: 2.5vw;
  }
  .attach-files {
    border: 1.2px;
    font-size: 1vw;
    padding: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  .formulario {
    margin: 1rem 15rem;
  }
  .formulario__label {
    font-size: 1vw;
  }
}
.carousel-container-index {
  width: 50%;
  background-color: rgba(148, 157, 69, 0.548);
  padding: 3vw;
  margin: 40px auto;
  position: static;
}

.carousel-index {
  max-width: 40px;
  margin: 0 auto;
}

.article-index {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  margin: 10px;
  position: static;
}
.article-index__img {
  width: 55vw;
  margin: 2vw;
}
.article-index__titulo {
  padding: 0.7rem;
  margin: 5px;
}
.article-index__texto {
  display: flex;
  flex-direction: column;
}
.article-index__info {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: black;
  line-height: 20px;
  text-align: center;
  max-width: 70vw;
  padding: 1rem;
}

.index-icons {
  justify-content: space-around;
}
.index-icons img {
  width: 45px;
}

@media screen and (min-width: 768px) {
  .carousel-container {
    width: 60%;
    margin: 15px auto;
  }
  .article-index {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .article-index__img {
    width: 50vw;
    margin: 4vw;
    padding: 1rem;
  }
  .article-index__titulo {
    width: 100%;
  }
  .article-index__texto {
    padding: 1rem;
  }
  .article-index__info {
    font-size: 18px;
    line-height: 1.3rem;
    max-width: 30vw;
    margin-top: 10px;
  }
}
.sect-tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  margin: 1rem;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tarjetas__img {
  width: 8vw;
  margin: 0.5rem;
}
.tarjetas__titulo {
  font-size: 1em;
  line-height: 1em;
  max-height: 2.5rem;
  width: 7rem;
}
.tarjetas__texto {
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  color: black;
  line-height: 0.8rem;
  text-align: center;
  list-style: none;
  max-width: 30vw;
  list-style: none;
  padding: 0.3rem;
}

@media screen and (min-width: 768px) {
  .sect-tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .tarjetas__img {
    margin: 0.3rem;
    width: 6.5vw;
  }
  .tarjetas__titulo {
    font-size: 1.2em;
    max-height: 3.5rem;
    width: 8rem;
  }
  .tarjetas__texto {
    font-size: 0.9em;
    max-width: 15vw;
  }
}
.conteiner-desfiles {
  display: flex;
  flex-direction: column;
}

.carousel-desfiles {
  width: 80%;
  background-color: rgba(148, 157, 69, 0.548);
  padding: 4vw;
  margin: 40px auto;
  position: static;
}

.sect-desfiles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.sect-desfiles__titulo {
  font-size: 3vw;
  margin: 0.3rem;
}
.sect-desfiles__info {
  font-size: 2vw;
  margin: 0.2rem;
}

@media screen and (min-width: 768px) {
  .conteiner-desfiles {
    flex-direction: row;
  }
  .carousel-desfiles {
    margin: 20px;
  }
  .sect-desfiles__titulo {
    font-size: 2vw;
    margin: 0.5rem;
  }
  .sect-desfiles__info {
    font-size: 1vw;
    margin: 0.3rem;
  }
}
.icons-lenceria {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.icons-lenceria img {
  width: 9vw;
  margin: 1rem;
  opacity: 0.5;
}

.lenceria-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lenceria-info__titulo {
  font-size: 1.8rem;
}
.lenceria-info__texto {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: black;
  line-height: 20px;
  text-align: center;
  max-width: 70vw;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .icons-lenceria {
    justify-content: center;
  }
  .icons-lenceria img {
    width: 5vw;
  }
  .lenceria-info__titulo {
    font-size: 2.7rem;
  }
  .lenceria-info__texto {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
