* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(148, 157, 69)
}

h1 {
    display: none
}

body {
    margin-right: 4vw;
    margin-left:4vw
}

/* ------Header------- */
header nav {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem;
    margin: 1.25rem 0.8rem;

}

.logo-btn {
    margin: 0.3rem;
}

.logo {
    width: 15vw;
    height: auto;
}

header nav ul {
    float: none;
    margin-right: 20px;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0.5rem;
}

header nav ul li a {
    font-family: 'Averia Serif Libre', cursive;
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    padding: 0.1rem;
    margin: 0;
}

.bag-shopping {
    size: 2.7vw;
    margin-right: 1.5rem;
}

.check-btn {
    font-size: 2.5vw;
    float: left;
    line-height: 50px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*------FOOTER--------*/
footer {
    max-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 25% 45% 15%;
    grid-template-areas: "inst-link inst-link inst-link" "news news news" "nav pago contacto" "legales legales legales";
}

/* instagram link */
.link-instagram {
    grid-area: inst-link;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.usuario-instagram {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.5rem;
    color: rgb(148, 157, 69);
    margin: 0.2vw;
    display: inline-block;
}

.logo-instagram {
    width: 3vw;
    margin: 0.1vw
}

/* form newsletter  */

.newsletter {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0.5rem;
    grid-area: news;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-aceptar {
    border: 1px solid rgb(148, 157, 69);
    background-color: rgba(148, 157, 69, 0.6);
    color: white;
    padding: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    border-radius: 1rem;
    max-width: 50px;
    max-height: 25px;
}

#email-newsletter {
    border-color: rgb(148, 157, 69);
    border-radius: 1rem;
    border-width: 0.01rem;
}

.footer-nav {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: black;
    line-height: 1.25rem;
    text-align: center;
    list-style: none;
    padding: 0.5rem;
    margin: 0.1rem 0.1rem;
    grid-area: nav;
}

/* contacto */
.contacto-footer {
    padding: 0.5rem;
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* logos de pago */
.logos-pago {
    padding: 1rem;
    grid-area: pago;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img-paypal {
    width: 5vw;
    margin: 0.2rem;
}

.img-mercadopago {
    width: 5vw;
    margin: 0.2rem;
}

.img-rapipago {
    width: 6vw;
    margin: 0.2rem;
}

/* legales */
.legales-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    color: black;
    padding: 0.5rem;
    grid-area: legales;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* INDEX */


/* articulo-que-es-osada */
.article-index {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


section article {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

h2 {
    font-family: 'Averia Serif Libre', cursive;
    font-weight: bold;
    font-style: bold;
    font-size: 4vw;
    color: rgb(148, 157, 69);
    text-align: center;
    max-width: 80vw;
    padding: 0.5vw;
    margin: 0.3rem;
}

.img-article-index {
    width: 50vw;
    margin: 2vw;
    padding: 1rem;
}

.parrafo-info {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
    line-height: 1.3rem;
    text-align: center;
    max-width: 70vw;
    padding: 1rem;
}

/* tarjetas-index */

.sect-tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.img-tarjetas {
    width: 8vw;
    margin: 0.3rem;
}

h3 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 1.2em;
    color: black;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    padding: 0.1rem;
    max-height: 3.5rem;
    width: 8rem;
}

.p2 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: black;
    line-height: 1em;
    text-align: center;
    list-style: none;
    max-width: 15vw;
    list-style: none;
}

.tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {

    body {
        margin-right: 2vw;
        margin-left: 2vw
    }
    

    /* -----header----- */
    header nav {
        width: 100%;
        height: 3.5rem;
        margin: 1rem 0.5rem;
        padding: 0.1rem;
    }

    .check-btn {
        display: block;
    }

    .logo {
        width: 30vw;
        height: auto;
        max-width: 120px;
    }

    header nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        right: -100%;
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 0.01vw 0;
    }

    header nav ul li a {
        font-size: 3vw;
        line-height: 0.2vw;
    }

    li a:hover,
    li a.active {
        background: none;
        color: rgb(148, 157, 69);
    }

    #check:checked~ul {
        right: 0;
    }

    .logo-btn,
    .check-btn {
        order: 2;
        margin: 0 5px;
    }

    .bag-shopping {
        size: 1rem;
        margin-right: 1.5rem;
    }

    /* -----footer------ */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* instragram-link */
    .link-instagram {
        flex-direction: row;
        align-content: center;
        padding: 0.3rem;
        max-height: 35px;
    }

    .usuario-instagram {
        font-family: 'Averia Serif Libre', cursive;
        font-size: 4vw;
        color: rgb(148, 157, 69);
        margin: 1px;
        padding: 0px;
        display: inline-block;
    }

    .logo-instagram {
        width: 5vw;
        max-height: 19px;
        margin: 0.05rem;
    }

    /* newsletter */
    .newsletter {
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        margin-bottom: 0.1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #email-newsletter {
        border-color: rgb(148, 157, 69);
        border-radius: 1rem;
        border-width: 0.01rem;
    }

    .form-newsletter {
        display: flex;
        flex-direction: column;
    }

    footer div form label {
        margin-bottom: 0.05rem;
    }

    .btn-aceptar {
        border: 0.01rem solid rgb(148, 157, 69);
        background-color: rgba(148, 157, 69, 0.6);
        color: white;
        padding: 0.2rem 0.2rem;
        font-family: 'Roboto', sans-serif;
        font-size: 2vw;
        border-radius: 1rem;
        margin: 0.3rem;
    }

    /* nav-footer */


    .footer-nav {
        text-align: center;
        list-style: none;
        padding: 0.5rem;
        margin: 0px;
        line-height: 3.5vw;
        max-height: 120px;
    }

    footer nav ul li a {
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        max-height: 15px;
        color: black;
    }

    /* contacto-footer */
    .contacto-footer {
        padding: 0.5rem;
        max-width: 20rem;
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        color: black;
        padding: 0.3rem;
    }

    /* logos-pago */
    .img-paypal {
        width: 8vw;
        margin: 0.125rem;
    }

    .img-mercadopago {
        width: 8vw;
        margin: 0.125rem;
    }

    .img-rapipago {
        width: 9vw;
        margin: 0.125rem;
    }

    .logos-pago {
        padding: 0.125rem;
    }

    /* legales footer */
    footer div p {
        padding: 0.5rem;
        max-width: 20rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.8vw;
        color: black;
        padding: 0.1rem;
        margin: 0.05rem 0.05rem;
    }

    /* ----------INDEX --------- */

    /* articulo-que-es-osada */

    .article-index {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        height: 70vw;
    }


    section article {
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-family: 'Averia Serif Libre', cursive;
        font-weight: bold;
        font-style: bold;
        font-size: 5vw;
        color: rgb(148, 157, 69);
        text-align: center;
        max-width: 80vw;
        max-height: 32px;
        padding: 0.5vw;
        margin: 0.3rem;
    }

    .img-article-index {
        width: 55vw;
        margin: 2vw;
    }

    .parrafo-info {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: black;
        line-height: 1rem;
        text-align: center;
        max-width: 70vw;
        max-height: 40vw;
        padding: 1rem;
    }

    /* tarjetas-index */

    .sect-tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2rem;
        margin: 1rem;
    }

    .img-tarjetas {
        width: 12vw;
        margin: 0.5rem;
    }

    h3 {
        font-family: 'Averia Serif Libre', cursive;
        font-size: 1em;
        color: black;
        line-height: 1em;
        text-align: center;
        text-transform: uppercase;
        padding: 0.1rem;
        max-height: 2.5rem;
        width: 7rem;
    }

    .p2 {
        font-family: 'Roboto', sans-serif;
        font-size: 0.6em;
        color: black;
        line-height: 0.8rem;
        text-align: center;
        list-style: none;
        max-width: 30vw;
        list-style: none;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* ----------STOCK --------- */
.img-stock {
width: 40vw;
}

.item-stock {
    display: flex;
    flex-direction: column;
    height: 50vw;
}

/* .item-stock {
    width: 2vw;
} */
}


@media screen and (min-width: 481px) and (max-width: 767px) {

    body {
        margin-right: 2vw;
        margin-left:2vw
    }
    
    /* -----header----- */
    header nav {
        width: 100%;
        height: 3.5rem;
        margin: 2.5rem 1rem;
        padding: 0.1rem;
    }

    .check-btn {
        display: block;
    }

    .logo {
        width: 32vw;
        height: auto;
        max-width: 130px;
    }

    header nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        right: -100%;
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 0.01vw 0;
    }

    header nav ul li a {
        font-size: 3vw;
        line-height: 0.2vw;
    }

    li a:hover,
    li a.active {
        background: none;
        color: rgb(148, 157, 69);
    }

    #check:checked~ul {
        right: 0;
    }

    .logo-btn,
    .check-btn {
        order: 2;
        margin: 0 5px;
    }

    .bag-shopping {
        size: 1rem;
        margin-right: 1.5rem;
    }

    /* -----footer------ */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    /* instragram-link */
    .link-instagram {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        padding: 0.3rem;
        max-height: 35px;
    }

    .usuario-instagram {
        font-family: 'Averia Serif Libre', cursive;
        font-size: 4vw;
        color: rgb(148, 157, 69);
        margin: 1px;
        padding: 0px;
        display: inline-block;
    }

    .logo-instagram {
        width: 5vw;
        margin: 0.05rem;
    }

    /* newsletter */
    .newsletter {
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        margin-bottom: 0.1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #email-newsletter {
        border-color: rgb(148, 157, 69);
        border-radius: 1rem;
        border-width: 0.01rem;
    }

    .form-newsletter {
        display: flex;
        flex-direction: column;
    }

    footer div form label {
        margin-bottom: 0.05rem;
    }

    .btn-aceptar {
        border: 0.01rem solid rgb(148, 157, 69);
        background-color: rgba(148, 157, 69, 0.6);
        color: white;
        padding: 0.2rem 0.2rem;
        font-family: 'Roboto', sans-serif;
        font-size: 2vw;
        border-radius: 1rem;
        margin: 0.3rem;
    }

    /* nav-footer */


    .footer-nav {
        text-align: center;
        list-style: none;
        padding: 0.5rem;
        margin: 0px;
        line-height: 3.5vw;
    }

    footer nav ul li a {
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        max-height: 15px;
        color: black;
    }

    /* contacto-footer */
    .contacto-footer {
        padding: 0.5rem;
        max-width: 20rem;
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        color: black;
        padding: 0.3rem;
    }

    /* logos-pago */
    .img-paypal {
        width: 8vw;
        margin: 0.125rem;
    }

    .img-mercadopago {
        width: 8vw;
        margin: 0.125rem;
    }

    .img-rapipago {
        width: 9vw;
        margin: 0.125rem;
    }

    .logos-pago {
        padding: 0.125rem;
    }

    /* legales footer */
    footer div p {
        padding: 0.5rem;
        max-width: 20rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.8vw;
        color: black;
        padding: 0.1rem;
        margin: 0.05rem 0.05rem;
    }

    /* INDEX */

    /* articulo-que-es-osada */

    .article-index {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: 70vw;
    }


    section article {
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-family: 'Averia Serif Libre', cursive;
        font-weight: bold;
        font-style: bold;
        font-size: 5vw;
        color: rgb(148, 157, 69);
        text-align: center;
        max-width: 80vw;
        max-height: 32px;
        padding: 0.5vw;
        margin: 0.3rem;
    }

    .img-article-index {
        width: 55vw;
        margin: 2vw;
    }

    .parrafo-info {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: black;
        line-height: 1rem;
        text-align: center;
        max-width: 70vw;
        max-height: 20vw;
        padding: 1rem;
    }

    /* tarjetas-index */

    .sect-tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2rem;
        margin: 1rem;
    }

    .img-tarjetas {
        width: 12vw;
        margin: 0.5rem;
    }

    h3 {
        font-family: 'Averia Serif Libre', cursive;
        font-size: 1em;
        color: black;
        line-height: 1em;
        text-align: center;
        text-transform: uppercase;
        padding: 0.1rem;
        max-height: 2.5rem;
        width: 7rem;
    }

    .p2 {
        font-family: 'Roboto', sans-serif;
        font-size: 0.6em;
        color: black;
        line-height: 0.8rem;
        text-align: center;
        list-style: none;
        max-width: 30vw;
        list-style: none;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        margin-right: 2vw;
        margin-left:2vw
    }

    /* ------Header------- */
    header nav {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0.3rem;
        margin: 1.25rem 0.8rem;

    }

    .logo-btn {
        margin: 0.3rem;
    }

    .logo {
        width: 15vw;
        height: auto;
    }

    header nav ul {
        float: none;
        margin-right: 20px;
    }

    header nav ul li {
        display: inline-block;
        list-style-type: none;
        margin: 0.5rem;
    }

    header nav ul li a {
        font-family: 'Averia Serif Libre', cursive;
        font-weight: bold;
        font-size: 1rem;
        color: black;
        text-decoration: none;
        padding: 0.1rem;
        margin: 0px;
    }

    .bag-shopping {
        size: 2.7vw;
        margin-right: 1.5rem;
    }

    .check-btn {
        font-size: 2.5vw;
        float: left;
        line-height: 50px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    /*------FOOTER--------*/
    footer {
        max-height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15% 25% 45% 15%;
        grid-template-areas: "inst-link inst-link inst-link" "news news news" "nav pago contacto" "legales legales legales";
    }

    /* instagram link */
    .link-instagram {
        grid-area: inst-link;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .usuario-instagram {
        font-family: 'Averia Serif Libre', cursive;
        font-size: 1.4rem;
        color: rgb(148, 157, 69);
        margin: 0.2vw;
        display: inline-block;
    }

    .logo-instagram {
        width: 3vw;
        margin: 0.1vw
    }

    /* form newsletter  */

    .newsletter {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        margin: 0.5rem;
        grid-area: news;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .btn-aceptar {
        border: 1px solid rgb(148, 157, 69);
        background-color: rgba(148, 157, 69, 0.6);
        color: white;
        padding: 0.4rem;
        font-family: 'Roboto', sans-serif;
        font-size: 0.6rem;
        border-radius: 1rem;
        max-width: 50px;
        max-height: 25px;
    }

    #email-newsletter {
        border-color: rgb(148, 157, 69);
        border-radius: 1rem;
        border-width: 0.01rem;
    }

    .footer-nav {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: black;
        line-height: 1.25rem;
        text-align: center;
        list-style: none;
        padding: 0.5rem;
        margin: 0.1rem 0.1rem;
        grid-area: nav;
    }

    /* contacto */
    .contacto-footer {
        padding: 0.5rem;
        grid-area: contacto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p2 {
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
    }

    /* logos de pago */
    .logos-pago {
        padding: 1rem;
        grid-area: pago;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .img-paypal {
        width: 5vw;
        margin: 0.2rem;
    }

    .img-mercadopago {
        width: 5vw;
        margin: 0.2rem;
    }

    .img-rapipago {
        width: 6vw;
        margin: 0.2rem;
    }

    /* legales */
    .legales-footer {
        font-family: 'Roboto', sans-serif;
        font-size: 0.6rem;
        color: black;
        padding: 0.5rem;
        grid-area: legales;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* INDEX */

    /* articulo-que-es-osada */

    .article-index {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }


    section article {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    h2 {
        font-family: 'Averia Serif Libre', cursive;
        font-weight: bold;
        font-style: bold;
        font-size: 4vw;
        color: rgb(148, 157, 69);
        text-align: center;
        padding: 0.5vw;
        margin: 0.3rem;
    }

    .img-article-index {
        width: 50vw;
        margin: 4vw;
        padding: 1rem;
    }

    .parrafo-info {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: black;
        line-height: 1.3rem;
        text-align: center;
        max-width: 70vw;
        padding: 1rem;
    }

    /* Tarjetas-index */
    .sect-tarjetas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .img-tarjetas {
        width: 12vw;
        margin: 0.3rem;
    }

    h3 {
        font-family: 'Averia Serif Libre', cursive;
        font-size: 1.2em;
        color: black;
        line-height: 1em;
        text-align: center;
        text-transform: uppercase;
        padding: 0.1rem;
        max-height: 3.5rem;
        width: 8rem;
    }

    .p2 {
        font-family: 'Roboto', sans-serif;
        font-size: 0.9em;
        color: black;
        line-height: 0.8rem;
        text-align: center;
        list-style: none;
        max-width: 20vw;
        list-style: none;
    }

    .tarjetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}