// CAROUSEL 

.carousel-container {
    width: 70%;
    background-color: rgba(148, 157, 69, 0.548);
    padding: 3vw;
    margin: 10px auto;
    position: relative;
}

.carousel-index {
    max-width: 40px;
    margin: 0 auto;
}

// ARTICULO INDEX
// Mobile ----------
.article-index {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin: 10px;
    position: relative;

    &__img {
        width: 55vw;
        margin: 2vw;
    }

    &__titulo {
        padding: 0.7rem;
        margin: 5px;
    }

    &__texto {
        display: flex;
        flex-direction: column;
    }

    &__info {
        font-family: $ff-roboto;
        font-size: 1rem;
        color: black;
        line-height: 20px;
        text-align: center;
        max-width: 70vw;
        padding: 1rem;
    }
}

// Tablet XL y desktop -------------

@media screen and (min-width: 768px) {
    .carousel-container {
        width: 60%;
        margin: 15px auto;
    }
    
    .article-index {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        &__img {
            width: 50vw;
            margin: 4vw;
            padding: 1rem;
        }

        &__titulo {
            width: 100%;
        }

        &__texto {
            padding: 1rem;
        }

        &__info {
            font-size: 18px;
            line-height: 1.3rem;
            max-width: 30vw;
            margin-top: 10px;
        }
    }
}

// TARJETAS BENEFICIOS
// Mobile ---------

.sect-tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
    margin: 1rem;
}


.tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
        width: 8vw;
        margin: 0.5rem;
    }

    &__titulo {
        font-size: 1em;
        line-height: 1em;
        max-height: 2.5rem;
        width: 7rem;

    }

    &__texto {
        font-family: $ff-roboto;
        font-size: 0.6em;
        color: black;
        line-height: 0.8rem;
        text-align: center;
        list-style: none;
        max-width: 30vw;
        list-style: none;
        padding: 0.3rem;
    }
}

// Tablet XL y Desktop ---------------

@media screen and (min-width:768px) {
    .sect-tarjetas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .tarjetas {
        &__img {
            margin: 0.3rem;
            width: 6.5vw;
        }

        &__titulo {
            font-size: 1.2em;
            max-height: 3.5rem;
            width: 8rem;
        }

        &__texto {
            font-size: 0.9em;
            max-width: 15vw;
        }
    }

}